@page
@model GenshinImpact.Pages.CharacterListModel
@{
    ViewData["Title"] = "Character List UwU";
}

<h1>Character List</h1>

<!-- New Pizza form will go here -->

<!-- List of pizzas will go here -->
<table class="table mt-5">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Name</th>
            <th scope="col">Vision</th>
            <th scope="col">Weapon</th>
            <th scope="col">Nation</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var character in Model.CharacterList)
        {
            <tr>
                <td>@character.Id</td>
                <td>@character.Name</td>
                <td>@character.Vision</td>
                <td>@character.Weapon</td>
                <td>@character.Nation</td>
            </tr>
        }
    </tbody>
</table>