@page
@model GenshinImpact.Pages.Characters.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Character[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Character[0].Vision)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Character[0].Weapon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Character[0].Nation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Character) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vision)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weapon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nation)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
